<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My account</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" href="/css/profile-style.css">
</head>
<body>

<!--navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	  </button>
  	  <a class="navbar-brand" href="#"><img class="logo" src="images/logo.png"></a>

	   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			 <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				 <li class="nav-item">
					<a class="nav-link" href="/logout">Вихід із системи</a>
				 </li>
			 </ul> 
		</div>
	</nav>

	<div class="wrapper">
		<h3>Вітаємо вас у кабінеті користувача!</h3>
		<p>Тут ви зможете записатись на візит до лікаря у потрібний вам час!</p>
		<div class="btn">
			<a href="/visit">Записатись!</a>
		</div>
		<div class="services">
			<span>Список послуг, які надає клініка:</span>
			<ul>
				<li><b>Відбілювання зубів</b></li>
				<li><b>Професійна чистка зубів</b></li>
				<li> <b>Ортодонтія</b>
					<ul>
						<li>Пластинки</li>
						<li>Брекети</li>
						<li>Каппи</li>
					</ul>
				</li>
				<li> <b>Терапія</b>
					<ul>
						<li>Реставрація зубів</li>
						<li>Пломбування</li>
					</ul>
				</li>
				<li> <b>Хірургія</b>
					<ul>
						<li>Видалення зубів</li>
						<li>Імплантація</li>
					</ul>
				</li>
				<li><b>Протезування</b>
					<ul>
						<li>Вініри</li>
						<li>Керамічні коронки</li>
						<li>Протезування на імплантах</li>
						<li>Протезування</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
</body>
</html>